name: Deploy the backend
on:
  push:
    branches: [ main ]
jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push 
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend 
          push: true
          tags: bideshmukhi/todo-app-backend:${{ github.sha }}
      
      - name : Deploy to VM
        r un: |
            echo "${{ secrets.SSH_PRIVATE_KEY }}" &> ~/ssh_key
            chmod 700 /home/runner/ssh_key
            ssh -o StrictHostKeyChecking=no -i ~/ssh_key ubuntu@ec2-13-126-236-71.ap-south-1.compute.amazonaws.com -t "docker stop user_backend && docker run --name user_backend -d -p 8080:8080 bideshmukhi/todo-app-backend:${{ github.sha }}"